<div class="row full image-bottom <%= params[:location] %>">
	<div class="columns small-10 medium-9 large-8 small-centered text-center">
		<h1>Congratulations you got a job!</h1>
		<br>
	</div>
	<div class="columns small-12 medium-9 large-8 small-centered small-bump">
		<%= image_tag "certificate.png", class: "certificate" %>
	</div>
</div>
<div class="heading final text-center">
	<h2 class="last">My job is</h2>
	<% image_id = params[:job] + ".png" %>
	<%= image_tag(image_id, class: "final-job") %>
	<div class="bump">
		<h4 class="last"><%= params[:title] %> at <%= params[:company] %></h4>
		<p><%= params[:city] %></p>
	</div>
</div>


