
<div class="row full image-bottom <%= params[:location] %>">
	<div class="column small-4">
		<br>
		<br>
		<br>
		<br>
		<h3>So you want to be a</h3>
		<h3><%= params[:job].capitalize %> in the <%= params[:location] %></h3>
		<br>
		<h3>Here’s the jobs you can have.</h3>
		<br>
		<h3>Pick the one you want.</h3>
		<% image_id = params[:job] + ".png" %>
		<%= image_tag(image_id, class: "results-job") %>
	</div>
	<div class="column small-8 results">
		<% @results.model.jobs.each do |job| %>
			<div class="row list">
				<div class="column small-9">
					<h3><%=job.title%></h3>
					<h4><%= job.company_name %></h4>
				</div>
				<div class="column small-3 end">
					<%= link_to "This one!", finished_path(params.merge(title: job.title, company: job.company_name, city: job.location).except(:action, :controller)), class: "button expand " %>
				</div>
			</div>
		<% end %> 
	</div>
</div>
